<div class="container">
    <img src="/static/bg-airport-chick.jpg" class="img-fluid" alt="Responsive image" style="display: block;margin-left: auto;margin-right: auto;width: 100%;">
    <p>
    <p>Bienvenido: <b><%= name %>!</b></p>
    <p>Aeropuerto Vuelos-V TM</p>
    <hr />
    <div class="alert alert-light" role="alert">
        Usted está en: <%= currentNode %>
    </div>
    <p><b><%= displayText %></b></p>
    <hr />
</div>